{deps {js ["aws-sdk"]
       clj '[[org.clojure/clojure "1.9.0-alpha14"]
             [aero "1.1.2"]]}

 machfile "Machfile.edn"

 js {summary "Create the \"node_modules\" folder containing Javascript dependencies"
     product "package.json"
     novelty (fn [] (or (not (mach.core/file-exists? product))
                       (not (mach.core/modified-since product #ref [machfile]))))
     update! #$ ["yarn" "add" #ref [deps js]]
     clean! #$ ["yarn" "remove" #ref [deps js]]}

 clj {summary "Create \"cp\", which contains the classpath of resolved Clojure dependencies"
      product "cp"
      novelty (fn [] (or (not (mach.core/file-exists? product))
                        (not (mach.core/modified-since product #ref [machfile]))))
      produce (apply mach.core/sh (concat ["boot" "-BP"]
                                          (mapv (fn [[sym v]] (str "-d " sym ":" (or v "RELEASE")))
                                                #ref [deps clj])
                                          ["with-cp" "--write" "--file" product]))
      clean! #$ ["rm" "-vf" product]}

 ;; does not work at the moment
 repl {depends [js clj]
       update! #$ ["lumo" "-c" (.toString (js/$$LUMO_GLOBALS.fs.readFileSync "cp")) "-n 5044"]}

 cp {depends [js clj]}
 clean {depends [js:clean clj:clean]}}
